*{
    font-family:"Poppins";
}
body{
    margin-top:80px;
    text-align: center;
    font-size:x-large;
    background-image: url("getty_623425276_351576.jpg") ;
    background-size: cover;
}
li{
    margin-left:425px;
    text-align: justify;
}
input{
    height:25px;
    width:250px;
    border-radius: 15px;
    color:black;
    border:2px solid green;
}
button{
    height:30px;
    border-radius: 10px;
    margin-left:10px;
}
.btn:hover{
    background-color: #2ddf80;
    font-weight: bolder;
}
.delete:hover{
    background-color: rgb(230, 102, 102);
    font-weight:bolder;
}
